[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "2.2.2"
marshmallow="*"
marshmallow_sqlalchemy="*"
flask-marshmallow="*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-cors = "*"
flask-bcrypt = "*"

[requires]
python_full_version = "3.8.13"
